In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('AmericaStock.csv')

In [13]:
df.head()

           time   close    open    high     low  volume percent  code
0  Jan 05, 2015  106.25  108.29  108.65  105.41  64.29M  -2.82%  AAPL
1  Jan 06, 2015  106.26  106.54  107.43  104.63  65.80M   0.01%  AAPL
2  Jan 07, 2015  107.75  107.20  108.20  106.69  40.11M   1.40%  AAPL
3  Jan 08, 2015  111.89  109.23  112.15  108.70  59.36M   3.84%  AAPL
4  Jan 09, 2015  112.01  112.67  113.25  110.21  53.70M   0.11%  AAPL

In [14]:
df['code'].unique()

array(['AAPL', 'V', 'BABA', 'ADBE', 'SNE'], dtype=object)

In [15]:
codes = ['AAPL', 'BABA']

In [24]:
df[df['code'].isin(codes)]

              time   close    open    high     low  volume percent  code
0     Jan 05, 2015  106.25  108.29  108.65  105.41  64.29M  -2.82%  AAPL
1     Jan 06, 2015  106.26  106.54  107.43  104.63  65.80M   0.01%  AAPL
2     Jan 07, 2015  107.75  107.20  108.20  106.69  40.11M   1.40%  AAPL
3     Jan 08, 2015  111.89  109.23  112.15  108.70  59.36M   3.84%  AAPL
4     Jan 09, 2015  112.01  112.67  113.25  110.21  53.70M   0.11%  AAPL
...            ...     ...     ...     ...     ...     ...     ...   ...
2258  Dec 22, 2017  176.29  175.84  176.66  175.04  12.52M   0.55%  BABA
2259  Dec 26, 2017  172.33  174.55  175.15  171.73  12.91M  -2.25%  BABA
2260  Dec 27, 2017  172.97  172.29  173.87  171.73  10.15M   0.37%  BABA
2261  Dec 28, 2017  172.30  173.04  173.53  171.67   9.51M  -0.39%  BABA
2262  Dec 29, 2017  172.43  172.28  173.67  171.20   9.70M   0.08%  BABA

[1509 rows x 8 columns]

In [25]:
selected_data = df[df['code'].isin(codes)]

In [28]:
for code in codes:
    asset_data_len = len(df[df['code'] == code])
    print(f'avaiable data for code {code}: {asset_data_len}')

avaiable data for code AAPL: 755
avaiable data for code BABA: 754

In [ ]:
for code in codes:
    date_set = date_set.intersection(idxs)