In [57]:
from stock_env import StockEnv
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [111]:
env_args = {
    "asset_codes": ['AAPL', 'V', 'BABA', 'ADBE', 'SNE'],
    "features": ["close", "high", "low"],
    "start_date": "2017-12-12",
    "end_date": "2017-12-16", 
    "window_len": 2,
    "data_path": "AmericaStock.csv"
}

In [112]:
stock_env = StockEnv(**env_args)

In [113]:
stock_env.asset_dict["AAPL"]

               close      high       low
2017-12-12  0.986952  0.990918  0.985572
2017-12-13  0.990228  0.997528  0.988676
2017-12-14  0.989941  0.995172  0.986664
2017-12-15  1.000000  1.001150  0.991320
2017-12-16  1.000000  1.000000  1.000000

In [114]:
stock_env.asset_dict["V"]

               close      high       low
2017-12-12  0.996837  0.999209  0.984010
2017-12-13  0.995519  1.004832  0.994465
2017-12-14  0.992093  1.002372  0.992093
2017-12-15  1.000000  1.003339  0.987436
2017-12-16  1.000000  1.000000  1.000000

In [115]:
state0 = stock_env.reset()

In [116]:
state0

array([[[0.98695177, 0.99091797, 0.98557223],
        [0.9902282 , 0.99752831, 0.98867621]],

       [[0.99683711, 0.99920928, 0.98400984],
        [0.99551924, 1.00483219, 0.99446494]],

       [[1.00628061, 1.02656295, 1.00126765],
        [1.01682512, 1.02391242, 1.00432152]],

       [[0.97200158, 0.98095882, 0.96011492],
        [0.99616923, 0.99949299, 0.97622669]],

       [[0.99531668, 0.99754683, 0.98951829],
        [0.99576271, 0.99732382, 0.99308653]]])

In [117]:
stock_env.render()

We are at date 2017-12-14
allocation of portfolio at the end of prev date: [1. 0. 0. 0. 0. 0.]

In [118]:
action1 = np.array([0, 1, 0, 0, 0, 0])
action2 = np.array([0, 0, 1, 0, 0, 0])

In [119]:
reward2, state1  = stock_env.step(action1)

/home/ximing/dl_rl/projects/rl_stock/stock_env.py:99: RuntimeWarning: invalid value encountered in log
  reward = np.log(action * price_change_ratio - trans_cost)

In [120]:
stock_env.render()

We are at date 2017-12-15
allocation of portfolio at the end of prev date: [0. 1. 0. 0. 0. 0.]

In [121]:
reward2

array([        nan, -0.00279414,         nan,         nan,         nan,
               nan])