In [1]:
from stock_env import StockEnv

%load_ext autoreload
%autoreload 2

In [2]:
env = StockEnv()

In [3]:
env.data_df.head()

           time   close    open    high     low  volume percent  code
0  Jan 05, 2015  106.25  108.29  108.65  105.41  64.29M  -2.82%  AAPL
1  Jan 06, 2015  106.26  106.54  107.43  104.63  65.80M   0.01%  AAPL
2  Jan 07, 2015  107.75  107.20  108.20  106.69  40.11M   1.40%  AAPL
3  Jan 08, 2015  111.89  109.23  112.15  108.70  59.36M   3.84%  AAPL
4  Jan 09, 2015  112.01  112.67  113.25  110.21  53.70M   0.11%  AAPL